/* 生成1像素的border */
border-1px($color)
  position: relative

  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    content: " "
    border-top: 1px solid $color

/* 去掉1像素border */
border-none()
  &:after
    display: none


/* 图片的设置 */
bg-image($url)
  background-image: url($url + "@2x.png")
  /* 设备像素密度为3则用3x图片 */
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

